* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
}
.hero {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/rocket\ launch.jpg);*/
    background-color: rgb(236, 246, 255);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    --hover_color: rgb(206, 232, 255);
    --outline_color: rgb(120, 167, 255);
}
.logo{
    width: 400px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--outline_color);
}
.navbar2{
    padding: 20px 5px;
    width: 85%;
    height: 0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    background: transparent;
    border: 1px solid var(--outline_color);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
button:hover{
    background:var(--hover_color);
}
button:active{
    transform: scale(0.95);
}

button.navButton{
    float: left;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    background: transparent;
    border: 1px solid var(--outline_color);
    border-radius: 0px;
    outline: none;
    cursor: pointer;
}
button.navButton:hover{
    background:var(--hover_color);
}
button.navButton:not(:last-child){
    border-right:none;
}

button.navButton2{
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    background: transparent;
    border: 1px solid var(--outline_color);
    border-radius: 0px;
    outline: none;
    cursor: pointer;
}
button.navButton2:hover{
    background:var(--hover_color);
}
button.navButton2:not(:last-child){
    border-right:none;
}
/*
button.navButton:first-of-type(){
    border-radius: 20px;
}
button.navButton:last-of-type(){
    border-radius: 20px;
}*/

.content{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin: 10px 0 30px;
    line-height: 40px;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 10px 0 20px;
    line-height: 20px;
}


/**********************************************************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
    border: 1px solid var(--outline_color);
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
  }

  li a:last-child {
    border-bottom: none;
  }
  
  li a.active {
    text-decoration: underline;
    background-color: var(--hover_color);
    color: black;
  }
  
  li a:hover:not(.active) {
    background-color: var(--hover_color);
    color: black;
  }


/**********************************************************************/


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:var(--outline_color);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: var(--outline_color);
  }

/**********************************************************************/

.otherDesign {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/rocket\ launch.jpg);*/
    background-color: rgb(252, 252, 252);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    --other_hover_color: rgb(206, 232, 255);
    --other_outline_color: rgb(102, 102, 102);
    z-index: -1;
}

.vertical {
    border-left: 6px solid #333;
    height: 100vh;
    position:absolute;
    left: 10%;
    z-index: -1;
}

/* Add a black background color to the top navigation */
.other_topnav {
    background-color: #333;
    overflow: hidden;
    z-index: -1;
}
  
  /* Style the links inside the navigation bar */
.other_topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: -1;
}

.other_topnav b {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: -1;
}
  
/* Change the color of links on hover */
.other_topnav a:hover {
    background-color: #ddd;
    color: black;
    z-index: -1;
}

/* Change the color of links on hover */
.other_topnav b:hover {
    background-color: #ddd;
    color: black;
    z-index: -1;
}
  
/* Add a color to the active/current link 
.other_topnav a.active {
    background-color: #04AA6D;
    color: white;
}*/

h5 {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 8px 16px;
    line-height: 20px;
    z-index: -1;
}


h6 {
    float: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    /*margin: 8px 16px;*/
    line-height: 40px;
    z-index: -1;
}

.center_content {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
}

/* Add a black background color to the top navigation */
.other_topnav2 {
    background-color: rgb(196, 196, 196);
    overflow: hidden;
    width: 10%;
}
  
  /* Style the links inside the navigation bar */
.other_topnav2 a {
    display: block;
    color: #000000;
    text-align: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.other_topnav2 a:hover {
    background-color: rgb(255, 255, 255);
}

