* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
}

/********************* general *********************/
/**************************************************/

.general{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --color3: rgb(212, 212, 212);
    --color4: rgb(158, 105, 238);
    min-width: 2000px;
}
.general-horizontalbar{
    border-bottom: 60px solid var(--color2);
    width: 100%;
    position: absolute;
    z-index: 1;
}
.general-title{
    color: var(--color1);
    left: 45%;
    top: 0%;
    position: relative;
    z-index: 2;
    font-size: 40px;
}
.general-sidebar{
    left: 5%;
    top: 10%;
    position: relative;
}
.general-sidebar-buttons{
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    width: 150px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
    border-color: var(--color2);
    outline: none;
    cursor: pointer;
    display:block;
    z-index: 2;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.general-sidebar-buttons:focus{
    border-color: var(--color4);
    color: var(--color4);
}
/********** about us **********/
/********** account **********/
/********** dashboard **********/
.general-dashboard-content{
    top: 15%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.general-dashboard-content-title{
    color: var(--color2);
    font-size: 60px;
    position: relative;
}
.general-dashboard-content-horizontalbar{
    border-bottom: 5px solid var(--color2);
    width: 100%;
    position: absolute;
    z-index: 1;
}
.general-dashboard-content-joblist{
    width: 100%;
    padding: 20px 30px;
    border-color: var(--color2);
    border-radius: 10px;
    min-height: 30px;
    position: relative;
    border-width: 5px;
}
.general-dashboard-content-joblist-addnew{
    width: 80%;
    /* top: 15%; */
    border-color: var(--color2);
    border-radius: 10px;
}
/********** help **********/
/********** settings **********/

/********************* job_specific *********************/
/*******************************************************/

.job_specific{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --color3: rgb(212, 212, 212);
    --color4: rgb(207, 176, 252);
    min-width: 2000px;
}
.job_specific-horizontalbar{
    width: 100%;
    background-color: var(--color2);
    top: 0%;
    position: relative;
}
.job_specific-title{
    color: var(--color2);
    left: 50%;
    top: 0%;
    position: relative;
}
.job_specific-sidebar{
    left: 10%;
    top: 50%;
    position: relative;
}
.job_specific-sidebar-buttons{
    border-left: 5px;
    border-color: var(--color3);
    color: var(--color3);
    position: relative;
}
.job_specific-sidebar-buttons:active{
    border-left: 5px;
    border-color: var(--color4);
    color: var(--color4);
}
.job_specific-content{
    top: 50%;
    left: 50%;
    position: relative;
}
.job_specific-content-title{
    color: var(--color2);
    border-bottom: 5px;
    border-color: var(--color2);
    position: relative;
}