* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
}

/********************* general *********************/
/**************************************************/

.general{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --color3: rgb(212, 212, 212);
    --color4: rgb(158, 105, 238);
    min-width: 1500px;
    min-height: 800px;
}
.general-horizontalbar{
    border-bottom: 70px solid var(--color2);
    width: 100%;
    position: absolute;
    z-index: 1;
}
.general-title{
    color: var(--color1);
    left: 45%;
    top: 1%;
    position: relative;
    z-index: 2;
    font-size: 40px;
}
.general-account_icon-dropdown{
    cursor: pointer;
}
.general-account_icon-dropdown-button{
    top: 1%;
    left: 90%;
    padding: 10px 0px;
    position: absolute;
    border-style: solid;
    background-color: var(--color4);
    border-radius: 30px;
    border-color: var(--color4);
    color: var(--color1);
    z-index: 3;
    font-size: 20px;
    cursor: pointer;
    width: 180px;
    text-align: center;
}
.general-account_icon-dropdown-options{
    display: none;
    position: absolute;
    left: 91.5%;
    top: 5%;
}
.general-account_icon-dropdown:hover .general-account_icon-dropdown-options{
    display: block;
}
.general-account_icon-dropdown-options-login_logout{
    position: relative;
    display: block;
    border-style: solid;
    padding: 10px 30px;
    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 2px;
    color: var(--color2);
    z-index: 3;
    font-size: 20px;
    cursor: pointer;
}
.general-account_icon-dropdown-options-login_logout:hover{
    border-color: var(--color4);
    color: var(--color4);
}
.general-sidebar{
    left: 5%;
    top: 10%;
    position: relative;
}
.general-sidebar-buttons{
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    width: 150px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
    border-color: var(--color2);
    outline: none;
    cursor: pointer;
    display:block;
    z-index: 2;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.general-sidebar-buttons:hover{
    border-color: var(--color4);
    color: var(--color4);
}

/********** about us **********/

.general-about_us-content{
    top: 15%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.general-about_us-content-title{
    color: var(--color2);
    font-size: 20px;
    position: relative;
}
.general-about_us-content-images{
    position: relative;
    margin-top: 50px;
    left: 35%;
}
.portrait{
    position: relative;
    width: 300px;
}

/********** account **********/

.general-account-content{
    top: 15%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.general-account-content-position{
    position: relative;
}
.general-account-content-position-info{
    color: var(--color2);
    font-size: 30px;
}
/********** dashboard **********/

.general-dashboard-content{
    top: 15%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.general-dashboard-content-title{
    color: var(--color2);
    font-size: 60px;
    position: relative;
}
.general-dashboard-content-horizontalbar{
    border-bottom: 5px solid var(--color2);
    width: 100%;
    position: absolute;
    z-index: 1;
}
.general-dashboard-content-joblist{
    width: 100%;
}
.general-dashboard-content-joblist-addnew{
    width: 100%;
    top: 20px;
    padding: 10px 0px;
    border-color: rgb(0 0 0);
    border-radius: 10px;
    position: relative;
    border-width: 3px;
    z-index: 2;
    border-style: solid;
    cursor: pointer;
    margin-bottom: 20px;
}
.general-dashboard-content-joblist-job_button{
    border-style: solid;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    color: var(--color1);
    border-color: var(--color4);
    background: var(--color4);
    border-radius: 20px;
    position: relative;
    text-align: left;
    padding: 15px 80px;
    border-width: 5px;
    height: 100px;
    font-size: 40px;
}
.general-dashboard-content-joblist-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.general-dashboard-content-joblist-popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
}
.general-dashboard-content-joblist-popup-content-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.general-dashboard-content-joblist-popup-content-close:hover,
.general-dashboard-content-joblist-popup-content-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.general-dashboard-content-joblist-popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.general-dashboard-content-joblist-popup-content-create_button{
    left: 42%;
    margin-top: 5%;
    padding: 10px 30px;
    position: relative;
    border-style: solid;
    background-color: var(--color4);
    border-radius: 30px;
    border-color: var(--color4);
    color: var(--color1);
    z-index: 3;
    font-size: 20px;
    cursor: pointer;
}
.general-dashboard-content-joblist-popup-content-label{
    font-size: 30px;
    padding-bottom: 5%;
}

/********** help **********/
/********** settings **********/

/********************* job_specific *********************/
/*******************************************************/

.job_specific{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --color3: rgb(212, 212, 212);
    --color4: rgb(158, 105, 238);
    --color5: rgb(199 198 198);
    min-width: 1500px;
    min-height: 800px;
}
.job_specific-horizontalbar{
    border-bottom: 70px solid var(--color2);
    width: 100%;
    position: absolute;
    z-index: 1;
}
.job_specific-title{
    color: var(--color1);
    left: 45%;
    top: 1%;
    position: relative;
    z-index: 2;
    font-size: 40px;
}
.job_specific-backbutton{
    color: var(--color4);
    left: 1%;
    top: 1.5%;
    position: absolute;
    z-index: 2;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
}
.job_specific-name{
    color: var(--color2);
    left: 10%;
    top: 10%;
    position: absolute;
    z-index: 2;
    font-size: 40px;
}
.job_specific-navbar{
    left: 6%;
    top: 14%;
    position: relative;
}
.job_specific-navbar-buttons{
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    width: 12%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 5px;
    border-color: var(--color2);
    outline: none;
    cursor: pointer;
    float: left;
    z-index: 2;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.job_specific-navbar-buttons:hover{
    border-color: var(--color4);
    color: var(--color4);
}
.job_specific-disable{
    display: none;
    font-size: 40px;
    left: 20%;
    top: 28%;
    position: absolute;
    z-index: 2;
    background-color: var(--color1);
}
.job_specific-disable-button{
    left: 20%;
    top: 28%;
    /* position: absolute; */
    z-index: 2;
    color: var(--color1);
    font-size: 30px;
    border-color: var(--color4);
    background: var(--color4);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px 10px;
    margin-left: 10px;
}

/********** upload data **********/

.job_specific-upload_data-content{
    top: 35%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.job_specific-upload_data-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}
.job_specific-upload_data-content-fileholder{
    border-style: solid;
    border-width: 4px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
}
.job_specific-upload_data-content-fileholder-title{
    border-style: solid;
    border-width: 5px;
    border-color: var(--color4);
    background: var(--color4);
    position: relative;
    align-items: center;
    color: var(--color1);
    font-size: 30px;
}
.job_specific-upload_data-content-fileholder-addfile{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color2);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color1);
    width: 98%;
}
.job_specific-upload_data-content-fileholder-addfile-hide{
    opacity: 0;
    width: 100%;
    display: inline;
    position: relative;
}
.job_specific-upload_data-content-fileholder-addfile-label{
    display: inline;
    position: absolute;
    left: 45%;
}
.job_specific-upload_data-content-fileholder-new_file_button{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 8px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 98%;
    color: var(--color1);
    height: 40px;
    font-size: 30px;
}

/********** automated_qc **********/

.job_specific-automated_qc-content{
    top: 35%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.job_specific-automated_qc-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}
.job_specific-automated_qc-content-run_qc{
    color: var(--color1);
    font-size: 30px;
    border-color: var(--color4);
    background: var(--color4);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 15px 80px;
    left: 30%;
}
.job_specific-automated_qc-content-run_qc:active{
    transform: 90%;
}
/* .job_specific-automated_qc-content-qc_result{
    color: var(--color2);
} */
.job_specific-automated_qc-content-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 15%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}
.job_specific-automated_qc-content-popup-content {
    background-color: var(--color1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid var(--color4);
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
    border-radius: 20px;
}
.job_specific-automated_qc-content-popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.job_specific-automated_qc-content-popup-content-results{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 8px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 98%;
    color: var(--color1);
    height: 40px;
    font-size: 30px;
}
.job_specific-automated_qc-content-loading_popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 100%;
    background-color: var(--color1);/*rgba(224, 224, 224, 0.7);*/
    overflow: auto;
}
.job_specific-automated_qc-content-loading_popup-text { /* Hidden by default */
    font-size: 30px;
    align-items: center;
}

/********** gating **********/

.job_specific-gating-content{
    top: 35%;
    left: 10%;
    width: 80%;
    position: absolute;
}
.job_specific-gating-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 50px;
    left: 20%;
}
.job_specific-gating-content-gates_created{
    border-style: solid;
    border-width: 4px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    width: 30%;
    left: 5%;
}
.job_specific-gating-content-gates_created-title{
    border-style: solid;
    border-width: 5px;
    border-color: var(--color4);
    background: var(--color4);
    position: relative;
    align-items: center;
    color: var(--color1);
    font-size: 30px;
}
.job_specific-gating-content-gates_created-addgate{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color2);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color1);
    width: 94%;
    padding: 10px;
}
.job_specific-gating-content-gates_created-new_gate{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 94%;
    padding: 10px;
    color: var(--color1);
}
.job_specific-gating-content-gate_popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.job_specific-gating-content-gate_popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
}
.job_specific-gating-content-gate_popup-content-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.job_specific-gating-content-gate_popup-content-close:hover,
.job_specific-gating-content-gate_popup-content-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.job_specific-gating-content-gate_popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.job_specific-gating-content-gate_popup-content-label{
    font-size: 30px;
    padding-bottom: 5%;
}
.job_specific-gating-content-gate_popup-content-button{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 40%;
    left: 20%;
    padding: 10px;
    color: var(--color1);
}
.overall_graph{
    position: absolute;
    left: 50%;
    z-index: 2;
    top: 10%;
}
.job_specific-gating-overall_graph-dropdown_x_axis{
    font-size: 30px;
    /* padding-bottom: 5%; */
}
.job_specific-gating-overall_graph-dropdown_y_axis{
    font-size: 30px;
    /* padding-bottom: 5%; */
}

/********** normalization **********/

.job_specific-normalization-content{
    top: 35%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.job_specific-normalization-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}
.job_specific-normalization-content-channels{
    border-style: solid;
    border-width: 4px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
}
.job_specific-normalization-content-channels-title{
    border-style: solid;
    border-width: 5px;
    border-color: var(--color4);
    background: var(--color4);
    position: relative;
    align-items: center;
    color: var(--color1);
    font-size: 30px;
}
.job_specific-normalization-content-channels-button_unfocus{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color5);
    border-radius: 20px;
    position: relative;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--color2);
    background-color: rgb(219 217 217);
    padding: 10px 10px;
    margin: 10px;
}
.job_specific-normalization-content-channels-button_focus{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px;
    border-color: var(--color4);
    background-color: var(--color4);
    color: var(--color1);
}
/* .job_specific-normalization-content-channels-button:focus{
    border-color: var(--color4);
    background-color: var(--color4);
    color: var(--color1);
} */
.job_specific-normalization-content-position{
    position: relative;
    left: 20%;
}
.job_specific-normalization-content-position-run_normalization{
    color: var(--color1);
    font-size: 30px;
    border-color: var(--color4);
    background: var(--color4);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 15px 80px;
    margin-top: 30px;
}
.job_specific-normalization-content-run_normalization:active{
    transform: 90%;
}
.job_specific-normalization-content-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 15%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}
.job_specific-normalization-content-popup-content {
    background-color: var(--color1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid var(--color4);
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
    border-radius: 20px;
}
.job_specific-normalization-content-popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.job_specific-normalization-content-popup-content-results{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 8px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 98%;
    color: var(--color1);
    height: 40px;
    font-size: 30px;
}
.job_specific-normalization-content-loading_popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 100%;
    background-color: var(--color1);/*rgba(224, 224, 224, 0.7);*/
    overflow: auto;
    align-items: center;
}
.job_specific-normalization-content-loading_popup-text { /* Hidden by default */
    font-size: 50px;
}

/********** downsampling **********/

.job_specific-downsampling-content{
    top: 35%;
    left: 25%;
    width: 60%;
    position: absolute;
}
.job_specific-downsampling-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}
.job_specific-downsampling-content-choice{
    position: relative;
}
.job_specific-downsampling-content-choice-button{
    color: var(--color1);
    font-size: 30px;
    border-color: var(--color4);
    background: var(--color4);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 15px 80px;
    margin-top: 30px;
}
.job_specific-downsampling-content-choice-button:active{
    transform: 90%;
}
.job_specific-downsampling-content-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 15%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}
.job_specific-downsampling-content-popup-content {
    background-color: var(--color1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid var(--color4);
    width: 60%; /* Could be more or less, depending on screen size */
    height: 30%;
    border-radius: 20px;
}
.job_specific-downsampling-content-popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.job_specific-downsampling-content-popup-content-results{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 8px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color4);
    width: 98%;
    color: var(--color1);
    height: 40px;
    font-size: 30px;
}
.job_specific-downsampling-content-popup-content-label{
    font-size: 30px;
    padding-bottom: 5%;
}

/********** dr and clustering **********/

.job_specific-dr_clustering-content{
    top: 35%;
    left: 20%;
    width: 60%;
    position: absolute;
}
.job_specific-dr_clustering-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}
.job_specific-dr_clustering-content-analysis{
    border-style: solid;
    border-width: 4px;
    border-color: var(--color4);
    border-radius: 10px;
    position: relative;
}
.job_specific-dr_clustering-content-analysis-title{
    border-style: solid;
    border-width: 5px;
    border-color: var(--color4);
    background: var(--color4);
    position: relative;
    align-items: center;
    color: var(--color1);
    font-size: 30px;
}
.job_specific-dr_clustering-content-analysis-add_option{
    border-style: solid;
    border-width: 2px;
    border-color: var(--color2);
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color1);
    width: 98%;
}
.job_specific-dr_clustering-content-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.job_specific-dr_clustering-content-popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 40%;
}
.job_specific-dr_clustering-content-popup-content-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.job_specific-dr_clustering-content-popup-content-close:hover,
.job_specific-dr_clustering-content-popup-content-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.job_specific-dr_clustering-content-popup-content-title{
    font-size: 40px;
    padding-bottom: 5%;
}
.job_specific-dr_clustering-content-popup-content-position{
    padding-bottom: 5%;
    position: relative;
}
.job_specific-dr_clustering-content-popup-content-position{
    padding-bottom: 5%;
    position: relative;
}
.job_specific-dr_clustering-content-popup-content-position-buttons{
    border-style: solid;
    border-width: 5px;
    border-color: var(--color4);
    background: var(--color4);
    position: relative;
    align-items: center;
    color: var(--color1);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

/********** download results **********/

.job_specific-download_results-content{
    top: 35%;
    left: 25%;
    width: 60%;
    position: absolute;
}
.job_specific-download_results-content-description{
    color: var(--color2);
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
}