<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="general">

            <div class="general-horizontalbar"></div>

            <div class="general-title"> GoFlow </div>

            <div class="general-account_icon-dropdown">
                <div class="general-account_icon-dropdown-button" id="account_icon"> Hello {{name}}</div>
                <div class="general-account_icon-dropdown-options">
                    <div id="logout" class="general-account_icon-dropdown-options-login_logout"> Logout </div>
                </div>
            </div>

            <div class="general-sidebar">
                <form action="\about_us">
                    <input type="submit" id="about_us" class="general-sidebar-buttons" value="About Us"/>
                </form>
                <form action="\account">
                    <input type="submit" id="account" class="general-sidebar-buttons" value="Account"/>
                </form>
                <form action="\dashboard">
                    <input type="submit" id="dashboard" class="general-sidebar-buttons" value="Dashboard"/>
                </form>
                <form action="\settings">
                    <input type="submit" id="settings" class="general-sidebar-buttons" value="Settings"/>
                </form>
            </div>

            <script>
                document.getElementById("dashboard").style.borderColor = "var(--color4)"
                document.getElementById("dashboard").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="general-dashboard-content">
                <div class="general-dashboard-content-title"> Jobs: </div>

                <div class="general-dashboard-content-horizontalbar"></div>

                <div id="container" class="general-dashboard-content-joblist">
                    
                    <!-- <input type="submit" class="general-dashboard-content-joblist-addnew" value="+ Click Here to Add New Job"/> -->
                    <button id="add_new_job" class="general-dashboard-content-joblist-addnew"> + Click Here to Add New Job </button>
                    

                    <div id="popup" class="general-dashboard-content-joblist-popup">
                        <div class="general-dashboard-content-joblist-popup-content">
                            <span class="general-dashboard-content-joblist-popup-content-close">&times;</span>
                            <div class="general-dashboard-content-joblist-popup-content-title"> Choose New Job Parameters </div>
                            <form action="/dashboard" onsubmit="create_job()"> <!--, add_to_list() -->
                                <label for="job_name">Job name:</label>
                                <input type="text" id="job_name" name="job_name"><br><br>
                                <input type="submit" class="general-dashboard-content-joblist-popup-content-create_button" value="Create Job">
                            </form>
                        </div>
                    </div>

                    <script>
                        create_job = function(){
                            var job_name = document.getElementById("job_name").value
                            jQuery.ajax({
                                type: "GET",
                                url: "/create_job",
                                data: {job_name}
                            })
                        }
                    </script>

                    <script>
                        var jobs = '{{job_list|safe}}';
                        var job_body = document.getElementById("container")
                        var jobs = JSON.parse(jobs)

                        for (var job=0; job < jobs.length; job++){
                            console.log(job)
                            const button = document.createElement("button");
                            button.classList.add("general-dashboard-content-joblist-job_button") 
                            job_name = jobs[job];
                            button.innerHTML = job_name;
                            button.id =  job_name;
                        
                            
                            button.addEventListener ("click", function() {
                                id = button.id;
                                jQuery.ajax({
                                    type: "GET",
                                    url: "/upload_data",
                                    data: {"job_name": id},
                                    success:function(response){ document.write(response); }
                                })
                            });

                            job_body.appendChild(button);
                        }
                    </script>
                    
                    <script>
                        var modal = document.getElementById("popup");
                        var btn = document.getElementById("add_new_job");
                        var span = document.getElementsByClassName("general-dashboard-content-joblist-popup-content-close")[0];
    
                        btn.onclick = function() {
                        modal.style.display = "block";
                        }
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>

                    <!-- <script>

                    </script> -->

                </div>

            </div>

        </div>
    </body>
</html>