<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <div class="general">

            <div class="general-horizontalbar"></div>

            <div class="general-title"></div>

            <div class="general-sidebar">
                <form action="\account.html" class="general-sidebar-buttons">
                    <input type="submit" value="Account"/>
                </form>
                <form action="\dashboard.html" class="general-sidebar-buttons">
                    <input type="submit" value="Dashboard"/>
                </form>
                <form action="\history.html" class="general-sidebar-buttons">
                    <input type="submit" value="History"/>
                </form>
                <form action="\help.html" class="general-sidebar-buttons">
                    <input type="submit" value="Help"/>
                </form>
                <form action="\settings.html" class="general-sidebar-buttons">
                    <input type="submit" value="Settings"/>
                </form>
            </div>

            <!--------------------------- Content Section -------------------------------->

            <div class="general-content">
                <div class="general-content-title"> Jobs: </div>

            </div>

        </div>
    </body>
</html>