<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="general">

            <div class="general-horizontalbar"></div>

            <div class="general-title"> GoFlow </div>

            <div class="general-account_icon-dropdown">
                <div class="general-account_icon-dropdown-button" id="account_icon"> Hello Zuhayr! </div>
                <div class="general-account_icon-dropdown-options">
                    <div id="logout" class="general-account_icon-dropdown-options-login_logout"> Logout </div>
                </div>
            </div>

            <div class="general-sidebar">
                <form action="\about_us">
                    <input type="submit" id="about_us" class="general-sidebar-buttons" value="About Us"/>
                </form>
                <form action="\account">
                    <input type="submit" id="account" class="general-sidebar-buttons" value="Account"/>
                </form>
                <form action="\dashboard">
                    <input type="submit" id="dashboard" class="general-sidebar-buttons active" value="Dashboard"/>
                </form>
                <form action="\help">
                    <input type="submit" id="help" class="general-sidebar-buttons" value="Help"/>
                </form>
                <form action="\settings">
                    <input type="submit" id="settings" class="general-sidebar-buttons" value="Settings"/>
                </form>
            </div>

            <!-- <script>
                change hello user
            </script> -->

            <script>
                document.getElementById("help").style.borderColor = "var(--color4)"
                document.getElementById("help").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="general-dashboard-content">
                

            </div>

        </div>
    </body>
</html>