<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div id="job_name" class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <script>
                document.getElementById("automated_qc").style.borderColor = "var(--color4)"
                document.getElementById("automated_qc").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="job_specific-automated_qc-content">

                <div class="job_specific-automated_qc-content-description"> 
                    Quality control can be automatically run with the aid of the PeaqoQC package, all you have to do is press Run QC below.
                </div>
                
                <button id="qc" class="job_specific-automated_qc-content-run_qc"> Run QC </button> <!-- onclick="run_qc()"-->

                <div id="popup" class="job_specific-automated_qc-content-popup">
                    <div class="job_specific-automated_qc-content-popup-content">
                        <div class="job_specific-automated_qc-content-popup-content-title"> Results of running automated QC: </div>
                        <form id="cleaned_fcs" method="get"> <!--action="fcs_files" -->
                            <button type="submit" class="job_specific-automated_qc-content-popup-content-results"> Download Cleaned fcs Files </button>
                        </form>
                    </div>
                </div>

                <div id="loading_popup" class="job_specific-automated_qc-content-loading_popup">
                    <!-- <div class="job_specific-automated_qc-content-loading_popup-content">
                        <div class="job_specific-automated_qc-content-popup-content-title"> Results of running automated QC: </div>
                    </div> -->
                </div>

                <script>
                    var job = '{{job|safe}}';
                    job = job.slice(1, -1)
                    var job = JSON.parse(job);
                    document.getElementById("job_name").innerHTML = job.job_name;

                    var job_path = job.path;
                    var fcs_path = job.path + "/fcs_files/"; //"user_data/" + job.username + "/" + job.job_name + "/fcs_files/"
                    var fcs_file_list = job.fcs_files

                    document.getElementById("cleaned_fcs").action = job.path + "qc_cleaned_fcs/PeaqoQC_results/fcs_files"
                    //var job_path = "user_data/" + job.username + "/" + job.job_name

                    var modal = document.getElementById("popup");
                    var loading_modal = document.getElementById("loading_popup");
                    var btn = document.getElementById("qc");
                    
                    btn.onclick = function() {
                        modal.style.display = "block";
                        loading_modal.style.display = "block";
                        btn.style.display = "none";
                        console.log(job.path)
                        jQuery.ajax({
                            url: "/get_peaqo",
                            data: {"job_path": job_path}
                        }).done(function(){
                            loading_modal.style.display = "none";
                            // var container = document.getElementById("job_specific-automated_qc-content-popup-content");

                            // const button_cleaned_fcs = document.createElement("form");
                            // button_cleaned_fcs.classList.add("job_specific-automated_qc-content-popup-content-results");
                            // button_cleaned_fcs.value = "Cleaned FCS Files";
                            // button_cleaned_fcs.method = 'POST';
                            // button_cleaned_fcs.action = "";
                            // container.appendChild(button_cleaned_fcs);

                            // const button_plot_fcs = document.createElement("button");
                            // button_plot_fcs.classList.add("job_specific-automated_qc-content-popup-content-results") ;
                            // button_plot_fcs.innerHTML = "Cleaned FCS Plot";
                            // button_plot_fcs.id = "plot_fcs";
                            // container.appendChild(button_plot_fcs);

                            // const button_result_fcs = document.createElement("button");
                            // button_result_fcs.classList.add("job_specific-automated_qc-content-popup-content-results") ;
                            // button_result_fcs.innerHTML = "Cleaned FCS Report";
                            // button_result_fcs.id = "result_fcs";
                            // container.appendChild(button_result_fcs);
                        });
                    }
                    // function run_qc() {
                    //     console.log("ruuunnnn qqqqqccccc")
                    //     // jQuery.ajax({
                    //     //     url: "/dashboard",
                    //     // })
                    //     //somehow add file
                    // }
                </script>
            </div>

        </div>
    </body>
</html>