<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div id="job_name" class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <div id="previous" class="job_specific-disable">
                <div> Editing a previous step will erase all future steps </div>
                <button id="edit" class="job_specific-disable-button"> Edit Anyway </button>
            </div>
            <div id="future" class="job_specific-disable"> Please finish previous steps </div>

            <script>
                document.getElementById("automated_qc").style.borderColor = "var(--color4)"
                document.getElementById("automated_qc").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div id="everything" class="job_specific-automated_qc-content">

                <div class="job_specific-automated_qc-content-description"> 
                    Quality control can be automatically run with the aid of the PeacoQC package, all you have to do is press Run QC below.
                </div>
                
                <button id="qc" class="job_specific-automated_qc-content-run_qc"> Run QC </button> <!-- onclick="run_qc()"-->

                <div id="popup" class="job_specific-automated_qc-content-popup">
                    <div class="job_specific-automated_qc-content-popup-content">
                        <div class="job_specific-automated_qc-content-popup-content-title"> Results of running automated QC: </div>
                        <form id="cleaned_fcs" method="get"> <!--action="fcs_files" -->
                            <button type="submit" class="job_specific-automated_qc-content-popup-content-results"> Download Cleaned fcs Files </button>
                        </form>
                        <form id="plot_fcs" method="get"> <!--action="fcs_files" -->
                            <button type="submit" class="job_specific-automated_qc-content-popup-content-results"> Plot of Cleaned fcs Files </button>
                        </form>
                        <form id="result_fcs" method="get"> <!--action="fcs_files" -->
                            <button type="submit" class="job_specific-automated_qc-content-popup-content-results"> Result of Cleaned fcs Files </button>
                        </form>
                    </div>
                </div>

                <div id="loading_popup" class="job_specific-automated_qc-content-loading_popup">
                    <div class="job_specific-automated_qc-content-loading_popup-text"> Running Quality Control . . . </div>
                    <!-- Maybe add a loading animation-->
                </div>

                <script>
                    var job = '{{job|safe}}';
                    job = job.slice(1, -1)
                    var job = JSON.parse(job);
                    document.getElementById("job_name").innerHTML = job.job_name;

                    var job_path = job.path;
                    var fcs_path = job.path + "/latest_fcs/"; //"user_data/" + job.username + "/" + job.job_name + "/latest_fcs/"
                    var fcs_file_list = job.fcs_files

                    var everything = document.getElementById("everything")
                    var previous = document.getElementById("previous")
                    var future = document.getElementById("future")
                    var modal = document.getElementById("popup");
                    var loading_modal = document.getElementById("loading_popup");
                    var btn = document.getElementById("qc");

                    var edit = document.getElementById("edit")
                    edit.onclick = function() {
                        jQuery.ajax({
                            url: "/edit_anyway",
                            data: {"step_to_edit": 1}
                        }).done(function(){
                            modal.style.display = "block";
                            loading_modal.style.display = "none";
                            everything.style.opacity = 1;
                            previous.display = none;
                        });
                    }
                    if (job.current_step > 2) {
                        everything.style.pointer_events = "none";
                        everything.style.opacity = 0.5;
                        previous.style.display = "flex";
                        future.style.display = "none";
                        modal.style.display = "block";
                        btn.style.display = "none";
                    }
                    // if (job.current_step < 2) {
                    //     everything.style.pointer_events = "none";
                    //     everything.style.opacity = 0.5;
                    //     previous.style.display = "none";
                    //     future.style.display = "block";
                    // }
                    if (job.current_step == 2) {
                        everything.style.pointer_events = "all";
                        everything.style.opacity = 1;
                        previous.style.display = "none";
                        future.style.display = "none";
                    }
                    console.log(job.current_step)
                    btn.onclick = function() {
                            console.log("Button clicked!!")
                            //if (job.current_step == 2 || job.current_step == 1){
                                loading_modal.style.display = "block";
                                btn.style.display = "none";
                                jQuery.ajax({
                                    url: "/get_peaqo",
                                    data: {"job_path": job_path}
                                }).done(function(){
                                    modal.style.display = "block";
                                    loading_modal.style.display = "none";
                                    document.getElementById("cleaned_fcs").action = jQuery.ajax({url: "/download_file", data: {"path": job.path + "automated_qc/PeacoQC_results/fcs_files/"}})//job.path + "automated_qc/PeaqoQC_results/fcs_files"
                                    document.getElementById("plot_fcs").action = jQuery.ajax({url: "/download_file", data: {"path": job.path + "automated_qc/PeacoQC_results/fcs_files/"}})
                                    document.getElementById("result_fcs").action = jQuery.ajax({url: "/download_file", data: {"path": job.path + "automated_qc/PeacoQC_results/fcs_files/"}})
                                });
                       
                             //}
                            // modal.style.display = "block";
                            
                        }
                  

                </script>
            </div>

        </div>
    </body>
</html>