<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <button class="job_specific-backbutton" onclick="back_to_general()"> Back </button>

            <div class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <script>
                document.getElementById("automated_qc").style.borderColor = "var(--color4)"
                document.getElementById("automated_qc").style.color = "var(--color4)"

                function back_to_general() {
                    console.log("baaackkkkkk")
                    jQuery.ajax({
                        url: "/dashboard",
                    })
                }
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="job_specific-automated_qc-content">

                <div class="job_specific-automated_qc-content-description"> 
                    Quality control can be automatically run with the aid of the PeaqoQC package, all you have to do is press Run QC below.
                </div>
                
                <button class="job_specific-automated_qc-content-run_qc" onclick="run_qc()"> Run QC </button>

                <script>
                    function run_qc() {
                        console.log("ruuunnnn qqqqqccccc")
                        // jQuery.ajax({
                        //     url: "/dashboard",
                        // })
                        //somehow add file
                    }
                </script>

                <!-- stuff that happens when click button probably modal
                <div class="job_specific-automated_qc-content-qc_result"> Results of QC </div> -->

            </div>

        </div>
    </body>
</html>