<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div id = "job_name" class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <script>
                document.getElementById("gating").style.borderColor = "var(--color4)"
                document.getElementById("gating").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="job_specific-gating-content">
                <div class="job_specific-gating-content-description"> 
                    Here is where you can perform doublet exclusion, live-dead tests, and preselect a specific cell subset.
                </div>

                <div id="container" class="job_specific-gating-content-gates_created">
                    <div class="job_specific-gating-content-gates_created-title"> Gates </div>
                    <button class="job_specific-gating-content-gates_created-addgate" id="add_gate"> + Add Gate </button>
                </div>


                <!-- <div id="container" class="job_specific-gating-content-gates_created">
                    <div class="job_specific-gating-content-gates_created-title"> Gates </div>
                    <form id="form" method=post enctype=multipart/form-data>
                        <div class="job_specific-gating-content-gates_created-addgate">
                            <div class="job_specific-gating-content-gates_created-addgate-label"> + Add New File </div>
                            <input id="file" class="job_specific-upload_data-content-fileholder-addfile-hide" type="file" id="file_upload" name="file_upload" accept="image/png, image/jpeg"/>
                        </div>
                    </form>
                </div> -->



                <div id="popup" class="job_specific-gating-content-gate_popup">
                    <div class="job_specific-gating-content-gate_popup-content">
                        <span class="job_specific-gating-content-gate_popup-content-close">&times;</span>
                        <div class="job_specific-gating-content-gate_popup-content-title"> Choose New Gate Parameters </div>
                        <div class="job_specific-gating-content-gate_popup-content-label"> 
                            Choose X Axis: <select name="x_axis" id="x_axis">
                                <option id="x_initial" value="" selected="selected">Select x-axis</option> <!-- selected="selected"-->
                            </select>
                            Choose Y Axis: <select name="y_axis" id="y_axis">
                                <option id="y_selected" value="" selected="selected">Select y-axis</option>
                            </select>
                        </div>
                        <button id="create_gate" class="job_specific-gating-content-gate_popup-content-button"> Create Gate </button>
                    </div>
                </div>

                <div class="overall_graph">
                    <div>
                      <canvas
                        id="canvas"
                        width="430"
                        height="385"
                        style="position: relative; left: 150px;" 
                      ></canvas>
                    </div>
                    <div style="margin-top:5px">
                      <span>X Axis: </span>
                      <input type="radio" name="x-axis" value="FSC-A" checked />
                      <label for="FSC-A">FSC-A</label>
                      <input type="radio" name="x-axis" value="FSC-H" />
                      <label for="FSC-H">FSC-H</label>
                      <input type="radio" name="x-axis" value="FSC-W" />
                      <label for="FSC-W">FSC-W</label>
                      <input type="radio" name="x-axis" value="SSC-A" />
                      <label for="SSC-A">SSC-A</label>
                      <input type="radio" name="x-axis" value="SSC-H" />
                      <label for="SSC-H">SSC-H</label>
                      <input type="radio" name="x-axis" value="SSC-W" />
                      <label for="SSC-W">SSC-W</label>
                    </div>
                    <div style="margin-top:5px">
                      <span>Y Axis: </span>
                      <input type="radio" name="y-axis" value="FSC-A" />
                      <label for="FSC-A">FSC-A</label>
                      <input type="radio" name="y-axis" value="FSC-H" checked />
                      <label for="FSC-H">FSC-H</label>
                      <input type="radio" name="y-axis" value="FSC-W" />
                      <label for="FSC-W">FSC-W</label>
                      <input type="radio" name="y-axis" value="SSC-A" />
                      <label for="SSC-A">SSC-A</label>
                      <input type="radio" name="y-axis" value="SSC-H" />
                      <label for="SSC-H">SSC-H</label>
                      <input type="radio" name="y-axis" value="SSC-W" />
                      <label for="SSC-W">SSC-W</label>
                    </div>
                    <div class="drawing_options">
                        <span>Shape: </span>
                        <input type="radio" name="chooseShape" value="rectangle" checked />
                        <label for="rectangle">rectangle</label>
                        <input type="radio" name="chooseShape" value="polygon"/>
                        <label for="polygon">polygon</label>
                      </div>
                    <div class="drawing_options">
                      <button id="clear" >Clear</button>
                      <button id="next" >Next Graph</button>
                    </div>
                    <br />
                    <script src="..\static\new_graph.js"></script>
                </div>

                <script>
                    var modal = document.getElementById("popup");
                    var btn = document.getElementById("add_gate");
                    var span = document.getElementsByClassName("job_specific-gating-content-gate_popup-content-close")[0];

                    btn.onclick = function() {
                        modal.style.display = "block";
                    }
                    span.onclick = function() {
                        modal.style.display = "none";
                    }
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
                <script>
                    var job = '{{job|safe}}';
                    job = job.slice(1, -1)
                    job = JSON.parse(job);
                    document.getElementById("job_name").innerHTML = job.job_name;

                    var axis_options = ["FSC-A", "FSC-H", "FSC-W"]
                    axis_options = job.channels
                
                    window.onload = function() {
                        var x_axis = document.getElementById("x_axis");
                        var y_axis = document.getElementById("y_axis");

                        for (var x in axis_options) {
                            x_axis.options[x_axis.options.length] = new Option(axis_options[x], x);
                        }
                        for (var y in axis_options) {
                            y_axis.options[y_axis.options.length] = new Option(axis_options[y], y);
                        }
                    }
                </script>
                <script>
                    var modal = document.getElementById("popup");
                    var create_gate = document.getElementById("create_gate");
                    var gate_body = document.getElementById("container")
                    // var x_selected = document.getElementById("x_selected").value;
                    // var x_selected1 = document.getElementById("x_selected").selected;
                    // var x_selected2 = document.getElementById("x_selected").innerHTML;
                    // var y_selected = document.getElementById("y_selected").innerHTML;
                    // console.log("this is x selected")
                    // console.log(x_selected)
                    // console.log(x_selected1)
                    // console.log(x_selected2)

                    // // var x_axis = document.getElementById("x_axis");
                    // console.log(x_axis.options)
                    // for (var x in x_axis.options) {
                    //     if (x.selected == true){
                    //         print(x.selected)
                    //     }
                    //     // x_axis.options[x_axis.options.length] = new Option(axis_options[x], x);
                    // }

                    create_gate.onclick = function() {
                        modal.style.display = "none";
                        var x_selected = document.getElementById("x_selected").innerHTML;
                        var y_selected = document.getElementById("y_selected").innerHTML;

                        var select = document.getElementById('x_axis');
                        var value = select.options[select.selectedIndex].value;
                        console.log(value);

                        const button = document.createElement("button");
                        button.classList.add("job_specific-gating-content-gates_created-new_gate") 
                        button.innerHTML = "x-axis:" + x_selected + "  y-axis:" + y_selected;
                        gate_body.appendChild(button);
                    }
                </script>
                 <!-- <script>
                    var job = '{{job|safe}}';
                    job = job.slice(1, -1)
                    parsedJob = JSON.parse(job);
                    // console.log(parsedJob)
                    document.getElementById("job_name").innerHTML = parsedJob.job_name;
                </script> -->

            </div>

        </div>
    </body>
</html>