<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <script>
                document.getElementById("normalization").style.borderColor = "var(--color4)"
                document.getElementById("normalization").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="job_specific-normalization-content">
                <div class="job_specific-normalization-content-description"> 
                    Here is where you can perform normalization on your files to correct for batch effect using gaussNorm. Selected channels are highlighted, unselected channels are not.
                </div>

                <div class="job_specific-normalization-content-channels" id="channel_body">
                    <div class="job_specific-normalization-content-channels-title"> Channels </div>
                    <!-- <button class="job_specific-normalization-content-channels-cha" onclick="add_file()"> + Add File </button> -->
                </div>

                <button class="job_specific-normalization-content-run_normalization" onclick="run_normalization()"> Run Normalization </button>
                <button id="select_all" class="job_specific-normalization-content-run_normalization"> Select All </button>
                <script>
                    var channels = ["FSC-A", "FSC-H", "FSC-W", "SSC-A", "SSC-H", "SSC-W", "FSC-A", "FSC-H", "FSC-W", "SSC-A", "SSC-H", "SSC-W"]
                    var selected_channels = [];
                    var channel_body = document.getElementById("channel_body")
                    for (var index in channels){
                        const button = document.createElement("button");
                        button.classList.add("job_specific-normalization-content-channels-button_unfocus");
                        button.id =  index + "_" + channels[index];
                        button.innerHTML = channels[index];
                        

                        button.addEventListener ("click", function() {
                            if(selected_channels.includes(button.id)){
                                console.log("Blur: " + button.id)
                                selected_channels.splice(selected_channels.indexOf(button.id));
                                button.classList.remove(...button.classList);
                                button.classList.add("job_specific-normalization-content-channels-button_unfocus");
                            } else{
                                console.log("Focus: " + button.id)
                                
                                selected_channels.push(button.id);
                                button.classList.remove(...button.classList);
                                button.classList.add("job_specific-normalization-content-channels-button_focus");
                            }
                            
                        });

                        channel_body.appendChild(button);
                    }
                    const select_all_button = document.getElementById("select_all");
                    select_all_button.addEventListener ("click", function() {
                        for (var index in channels){
                            const button =  document.getElementById( index + "_" + channels[index]);
                            if(!selected_channels.includes(button.id)){
                                console.log("Focus: " + button.id)
                                
                                selected_channels.push(button.id);
                                button.classList.remove(...button.classList);
                                button.classList.add("job_specific-normalization-content-channels-button_focus");
                            }
                        }
                        });
                </script>

                <script>
                    function run_normalization(){
                        
                    }
                </script>

            </div>

        </div>
    </body>
</html>