<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div id="job_name" class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <div id="previous" class="job_specific-disable">
                <div> Editing a previous step will erase all future steps </div>
                <button id="edit" class="job_specific-disable-button"> Edit Anyway </button>
            </div>
            <div id="future" class="job_specific-disable"> Please finish previous steps </div>

            <script>
                document.getElementById("normalization").style.borderColor = "var(--color4)"
                document.getElementById("normalization").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div id="everything" class="job_specific-normalization-content">
                <div class="job_specific-normalization-content-description"> 
                    Here is where you can perform normalization on your files to correct for batch effect using gaussNorm. Selected channels are highlighted, unselected channels are not.
                </div>

                <div class="job_specific-normalization-content-channels" id="channel_body">
                    <div class="job_specific-normalization-content-channels-title"> Channels </div>
                    <!-- <button class="job_specific-normalization-content-channels-cha" onclick="add_file()"> + Add File </button> -->
                </div>

                <div id="buttons" class="job_specific-normalization-content-position">
                    <button id="run_normalization" class="job_specific-normalization-content-position-run_normalization" onclick="run_normalization()"> Run Normalization </button>
                    <button id="select_all" class="job_specific-normalization-content-position-run_normalization"> Select All </button>
                </div>

                <div id="popup" class="job_specific-normalization-content-popup">
                    <div class="job_specific-normalization-content-popup-content">
                        <div class="job_specific-normalization-content-popup-content-title"> Results of running gaussNorm: </div>
                        <form id="normalized_fcs" method="get"> <!--action="fcs_files" -->
                            <button type="submit" class="job_specific-normalization-content-popup-content-results"> Download Normalized fcs Files </button>
                        </form>
                    </div>
                </div>

                <div id="loading_popup" class="job_specific-normalization-content-loading_popup">
                    <div class="job_specific-normalization-content-loading_popup-text"> Running Normalization . . . </div>
                    <!-- Maybe add a loading animation-->
                </div>

                <script>
                    var job = '{{job|safe}}';
                    job = job.slice(1, -1);
                    var job = JSON.parse(job);
                    document.getElementById("job_name").innerHTML = job.job_name;
                    var job_path = job.path;
                    var fcs_path = job.path + "/latest_fcs/";

                    
                    var everything = document.getElementById("everything")
                    var previous = document.getElementById("previous")
                    var future = document.getElementById("future")

                    var btn = document.getElementById("run_normalization")
                    var buttons = document.getElementById("buttons")
                    var channel_body = document.getElementById("channel_body")
                    var loading_modal = document.getElementById("loading_popup")
                    var modal = document.getElementById("popup");

                    var edit = document.getElementById("edit")
                    edit.onclick = function() {
                        jQuery.ajax({
                            url: "/edit_anyway",
                            data: {"step_to_edit": 1}
                        }).done(function(){
                            modal.style.display = "block";
                            loading_modal.style.display = "none";
                            everything.style.opacity = 1;
                        });
                    }

                    if (job.current_step > 4) {
                        // buttons.style.display = "none";
                        // channel_body.style.display = "none";
                        // btn.style.display = "none";
                        // modal.style.display = "block";
                        everything.style.pointer_events = "none";
                        everything.style.opacity = 0.5;
                        previous.style.display = "block";
                        future.style.display = "none";
                    }
                    if (job.current_step < 3) {
                        everything.style.pointer_events = "none";
                        everything.style.opacity = 0.5;
                        previous.style.display = "none";
                        future.style.display = "block";
                    }
                    if (job.current_step == 4) {
                        everything.style.pointer_events = "all";
                        everything.style.opacity = 1;
                        previous.style.display = "none";
                        future.style.display = "none";
                    }


                    var fcs_file_list = job.fcs_files;
                    var channels = job.channels;
                    // var channels = ["FSC-A", "FSC-H", "FSC-W", "SSC-A", "SSC-H", "SSC-W", "FSC-A", "FSC-H", "FSC-W", "SSC-A", "SSC-H", "SSC-W"]
                    var selected_channels = [];
                    var channel_body = document.getElementById("channel_body")
                    for (var index in channels){
                        const button = document.createElement("button");
                        button.classList.add("job_specific-normalization-content-channels-button_unfocus");
                        button.id =  index + "_" + channels[index];
                        button.innerHTML = channels[index];
                        
                        if (job.current_step != 4){
                            button.addEventListener ("click", function() {
                                if(selected_channels.includes(button.id)){
                                    console.log("Blur: " + button.id)
                                    selected_channels.splice(selected_channels.indexOf(button.id));
                                    button.classList.remove(...button.classList);
                                    button.classList.add("job_specific-normalization-content-channels-button_unfocus");
                                } else{
                                    console.log("Focus: " + button.id)
                                    
                                    selected_channels.push(button.id);
                                    button.classList.remove(...button.classList);
                                    button.classList.add("job_specific-normalization-content-channels-button_focus");
                                }
                                
                            });
                        }

                        channel_body.appendChild(button);
                    }
                    const select_all_button = document.getElementById("select_all");
                    if (job.current_step == 4){
                        select_all_button.addEventListener ("click", function() {
                            for (var index in channels){
                                const button =  document.getElementById( index + "_" + channels[index]);
                                if(!selected_channels.includes(button.id)){
                                    console.log("Focus: " + button.id)
                                    
                                    selected_channels.push(button.id);
                                    button.classList.remove(...button.classList);
                                    button.classList.add("job_specific-normalization-content-channels-button_focus");
                                }
                            }
                        });
                    }
                </script>

                <script>
                    
                    if (job.current_step == 4){
                        btn.onclick = function() {
                            buttons.style.display = "none";
                            channel_body.style.display = "none";
                            loading_modal.style.display = "block";
                            btn.style.display = "none";
                            console.log(selected_channels)
                            jQuery.ajax({
                                url: "/get_normalize",
                                data: {"job_path": job_path, "selected_channels": selected_channels}
                            }).done(function(){
                                loading_modal.style.display = "none";
                                modal.style.display = "block";
                            });
                        }
                    }
                </script>

            </div>

        </div>
    </body>
</html>