<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="job_specific">

            <div class="job_specific-horizontalbar"></div>

            <div class="job_specific-title"> GoFlow </div>

            <form action="\dashboard">
                <input type="submit" class="job_specific-backbutton" value="Back"/>
            </form>

            <div class="job_specific-name"> Job Name </div>

            <div class="job_specific-navbar">
                <form action="\upload_data">
                    <input type="submit" id="upload_data" class="job_specific-navbar-buttons" value="Upload Data"/>
                </form>
                <form action="\automated_qc">
                    <input type="submit" id="automated_qc" class="job_specific-navbar-buttons" value="Automated QC"/>
                </form>
                <form action="\gating">
                    <input type="submit" id="gating" class="job_specific-navbar-buttons active" value="Preliminary Gating"/>
                </form>
                <form action="\normalization">
                    <input type="submit" id="normalization" class="job_specific-navbar-buttons" value="Normalization"/>
                </form>
                <form action="\downsampling">
                    <input type="submit" id="downsampling" class="job_specific-navbar-buttons" value="Downsampling"/>
                </form>
                <form action="\dr_clustering">
                    <input type="submit" id="dr_clustering" class="job_specific-navbar-buttons" value="DR and Clustering"/>
                </form>
                <form action="\download_results">
                    <input type="submit" id="download_results" class="job_specific-navbar-buttons" value="Download Results"/>
                </form>
            </div>

            <script>
                document.getElementById("upload_data").style.borderColor = "var(--color4)"
                document.getElementById("upload_data").style.color = "var(--color4)"
            </script>

            <!--------------------------- Content Section -------------------------------->

            <div class="job_specific-upload_data-content">
                <div class="job_specific-upload_data-content-description"> 
                    Here is where you can upload your FCS files, for more information on file format please visit the documentation.
                </div>
                <div id="container" class="job_specific-upload_data-content-fileholder">
                    <div class="job_specific-upload_data-content-fileholder-title"> Files </div>
                    <!-- <input type="file" id="file_upload" name="file_upload" accept="image/png, image/jpeg"> -->
                    <form id="form" method=post enctype=multipart/form-data>
                        <!-- <input type=file name=file> -->
                        <div class="job_specific-upload_data-content-fileholder-addfile">
                            <div class="job_specific-upload_data-content-fileholder-addfile-label"> + Add New File </div>
                            <input id="file" class="job_specific-upload_data-content-fileholder-addfile-hide" type="file" id="file_upload" name="file_upload" accept="image/png, image/jpeg"/>
                        </div>
                        <!-- <input class="upload_button" type=submit value=Upload> -->
                    </form>
                    <!-- <button class="job_specific-upload_data-content-fileholder-addfile" onclick="add_file()"> + Add File </button> -->
                </div>

                <script>
                    var files = ["kitty"]
                    var file_body = document.getElementById("container")

                    for (var file in files){
                        var button = document.createElement("div");
                        button.classList.add("job_specific-upload_data-content-fileholder-new_file_button") 
                        button.innerHTML = files[file];
                        file_body.appendChild(button);
                    }

                    document.getElementById("file").onchange = function() {
                        files.push("thing")
                        console.log(files)
                        document.getElementById("form").submit();
                    };
                    
                </script>

            </div>

        </div>
    </body>
</html>